img {
  display: block;
  height: 50px;
  width: 50px;
  padding: 20px;
}

img:hover {
  opacity: 0.8;
  transition: opacity .2s;
}

.wrap {
  width: 50px;
}

@media only screen and (max-width:800px) {
.wrap {
  width: auto;
}
 img {
   display: inline;
 }
}
